.main{
    background-color: #fcfcfc;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}   
.innerBox{
    width: 65%;
    height: 60%;
    background-color: aqua;
    position: absolute;
    border-radius: 22px;
    flex-direction: row;
    display: flex;
}
.logoHolder{
    width: 40%;
    height: 100%;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    background-image: linear-gradient(#009cff,#0080d4);
    flex-direction: column;
    align-items: center;
    display: flex;
}
.formHolder{
    width: 60%;
    height: 100%;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: white;
    display: flex;
    border: 1px solid #d2d2d2;
    border-left-color: white;
}
.logo{
    width: 100px;
    height: 100px;
    background-color: #fcfcfc;
    border-radius: 50px;
    margin-top: 30%;
}
.title{
    font-family:  Courier;
    letter-spacing: 1;
    color: white;
    margin-top: 20%;
    font-size: 24px;
}
.subtitle{
    font-size: 14px;
    color: #c4daff;
}
.label{
    align-self: left;
    font-family: Verdana, sans-serif;
    color: rgb(82, 82, 82)
}
.labelContainer{
    flex-direction: row;
    display: flex;
    margin: 40px;
    align-items: left;
    justify-content: space-around;
    display: flex;
}
.inputField{
    margin-left: 60px;
    background-color:#f4f8f9;
    border: none;
    height: 35px;
    width:200px;
    border-radius: 4px;
}
.primaryButton{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: #00e9c2;
    color: #fcfcfc;
    font-size: 14px;

}
.secondaryButton{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: #f4f8f9;
    color: rgb(82, 82, 82);
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center; 
}
.buttonHolder{
    margin-top: 100px;
    justify-content: space-around;
    display: flex;
}
.ui.primarycolor.button {
    background-color: #00e9c2;
    color: #fff;
  }
.label {
    margin-right: 20px;
}
.inline.fields {
    margin: 10px;
}